* {
  padding: 0;
  margin: 0;
}

/*============= GLOBAL STYLES =============*/
body {
  font-family: 'Montserrat', sans-serif;
  color: #2B2A2C;
  height: 7000px;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

h2 {
  font-weight: bold;
  line-height: 22px;
}

h2 small {
  font-size: 50%;
}

/*============= UTILITIES =============*/
.margin-top {
  margin-top: 30px;
}

/*============= RESPONSIVE UTILITIES =============*/
@media screen and (max-width: 767px) {
  .responsive-mr {
    margin-top: 30px;
  }
}

/*============= NAVBAR =============*/
.navbar {
  background-color: transparent;
  border-bottom: none;
  padding: 10px 0 10px 0 !important;
  transition: all .2s ease-in-out;
}

.navbar-brand img {
  margin-top: -5px;
}

@media screen and (max-width: 1198px) {
  .navbar-collapse {
    background-color: #233656;
  }
}

.navbar ul li a {
  color: #fff !important;
  font-weight: bold;
  letter-spacing: .5px;
  font-size: 12px !important;
  transition: all .2s ease-in;
}
.navbar ul li a:hover {
  color: #CDD6D5 !important;
}

.navbar-inverse .navbar-toggle {
  border: none;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-inverse .navbar-collapse {
  border-color: transparent;
  text-align: center;
}
/* HIDE SOCIAL MEDIA ICONS WHENE YOU CLICK ON HAMBURGER AND ALSO TO PREVENT TO APPEAR BESIDE NAV LISTES */
@media screen and (min-width: 768px) {
  .navbar-collapse .nav-icons {
    display: none;
  }
}

.navbar-nav .btn {
  color: #fff;
  font-weight: bold;
  background-image: none;
  background-color: transparent;
  border: 2px solid #fff;
  white-space: nowrap;
  padding: 6px 20px;
  border-radius: 20px;
  transition: .2s ease-in; 
}
.navbar-nav .btn:hover {
  background-color: #fff !important;
  color: #233656 !important;
}

.navbar-nav .navbar-btn {
  display: inline-block;
}

.navbar-nav .nav-icons h6 {
  color: #fff;
  font-weight: bold !important;
  margin-top: 20px;
  margin-bottom: 8px;
}

.navbar-nav .nav-icons img {
  margin: 0 4px;
}

/*============= SLIDER =============*/
.slider {
  width: 100%;
  height: 100vh;
  background: url(../img/slider.jpg);
  background-size: cover;
  background-position: center;
}

.slider-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
}

.jumbotron {
  margin-bottom: 0;
  background-color: transparent;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.vertical-center {
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.slider-content .slider-heading {
  color: #fff;
}

.slider-heading .slider-title {
  font-weight: 200 !important;
}

.slider-heading .slider-name {
  font-weight: 700 !important;
}
@media screen and (min-width: 768px) {
  .jumbotron h1 {
    font-size: 51px !important;
  }
}

@media screen and (min-width: 768px) {
  .slider-heading .slider-name {
    font-size: 48px !important;
  }
}

.slider-content .slider-paragraph {
  font-size: 18px;
  color: rgba(238, 244, 242, 0.70);
}

.slider-content .btn {
  color: #fff;
  font-weight: bold;
  background-image: none;
  background-color: #415B76;
  white-space: nowrap;
  padding: 10px 20px;
  border-radius: 20px;
  transition: .2s ease-in;
  border: none;
  margin-top: 20px;
}
.slider-content .btn:hover {
  background-color: #2B445F;
}

.slider-icons {
  transform: rotate(90deg) translate(58%, -50%);
  transform-origin: left top;
  position: absolute;
  top: 50px;
  left: 0px;
}
@media screen and (max-width: 768px) {
  .vertical-center .slider-icons {
    display: none;
  }
}

.icons-box {
  color: #fff;
  font-weight: bold;
  letter-spacing: .8px;
  display: flex;
}

.icons-box > span {
  align-self: center;
  font-size: 15px;
}

.icons-box > img {
  align-self: center;
  margin: 0 10px;
}

.social-icons a {
  outline: none; 
  border: 0; 
  text-decoration: none;
}

a svg {
  margin: 0 5px;
  height: 40px;
}

svg rect,
svg path {
  transition: .3s;
  transition-timing-function: ease-in-out;
  -webkit-transition: .3s;
  -webkit-transition-timing-function: ease-in-out;
}

svg:hover rect,
svg:hover path {
  fill: #415B76;
}

/*============= SERVICES SECTION =============*/
.service-section {
  padding-top: 130px;
}

.service-section .section-title {
  margin-bottom: 100px;
}

.service-section .service-wrap {
  padding: 60px 90px;
  margin: 0 auto;
  box-shadow: 0 0 8px rgba(0,0,0,.3);
}
@media screen and (max-width: 767px) {
  .service-section .service-wrap {
    padding: 60px 50px
  }
}

.service-wrap .service-icon {
  height: 50px;
}

.service-wrap h4 {
  margin-top: 30px;
}

.service-wrap p {
  margin-top: 20px;
  font-weight: 500;
  color: #6A696B;
  height: 60px;
  line-height: 1.7;
}

/*============= PORTFOLIO SECTION =============*/
#portfolio {
  padding: 130px 0;
  background-color: #EEF4F2;
  transform: skew(0, -10deg) translateY(150px);
}
@media screen and (max-width: 767px) {
  #portfolio {
    padding: 130px 0 70px 0;
  }
}

#portfolio .anti-skewed {
  transform: skew(0, 10deg)
}

#portfolio #portfolio-flters {
  padding: 0;
  margin: 70px 0 35px 0;
  list-style: none;
  text-align: center;
}

#portfolio #portfolio-flters li {
  position: relative;
  font-size: 13px !important;
  cursor: pointer;
  display: inline-block;
  margin: 0 20px;
  font-size: 12px;
  line-height: 20px;
  color: #666666;
  border-radius: 4px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 480px) {
  #portfolio #portfolio-flters li {
    display: block;
    margin: 25px 0;
  }
  
  #portfolio #portfolio-flters li.filter-active::after {
    content: "";
    position: absolute;
    top: 22px !important;
    left: 35% !important;
    height: 2px;;
    width: 30% !important; 
    background-color: #233656;
  }
}

#portfolio #portfolio-flters li.filter-active::after {
  content: "";
  position: absolute;
  top: 20px;
  left: -1px;
  height: 2px;;
  width: 100%;
  background-color: #233656;
  transform: scaleX(1);
  transition: transform .5s ease;
  transform-origin: left;
}

#portfolio #portfolio-flters li::after {
  content: "";
  position: absolute;
  top: 20px;
  left: -1px;
  height: 2px;;
  width: 100%;
  background-color: #233656;
  transform: scaleX(0);
  transition: transform .5s ease;
  transform-origin: left;
}

#portfolio #portfolio-flters li:hover::after {
  transform: scaleX(1);
}

#portfolio #portfolio-flters li:first-child {
  margin-left: 0;
}
#portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

#portfolio .portfolio-wrap {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

#portfolio .portfolio-wrap:hover {
  box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.26);
}

#portfolio .portfolio-item {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

#portfolio .portfolio-item figure {
  background: #000;
  overflow: hidden;
  height: 276px;
  position: relative;
  border-radius: 4px 4px 0 0;
  margin: 0;
}

#portfolio .portfolio-item figure:hover img {
  opacity: 0.4;
  transition: 0.3s;
}

#portfolio .portfolio-item figure .img-fluid {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#portfolio .portfolio-item figure .link-preview, #portfolio .portfolio-item figure .link-details {
  position: absolute;
  display: inline-block;
  visibility: hidden;
  line-height: 1;
  text-align: center;
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 50%;
  transition: 0.2s;
}

#portfolio .portfolio-item figure .link-preview i, #portfolio .portfolio-item figure .link-details i {
  padding-top: 6px;
  font-size: 22px;
  color: #333;
}

#portfolio .portfolio-item figure .link-preview:hover, #portfolio .portfolio-item figure .link-details:hover {
  background: #7B9BA6;
}

#portfolio .portfolio-item figure .link-preview:hover i, #portfolio .portfolio-item figure .link-details:hover i {
  color: #fff;
}

#portfolio .portfolio-item figure .link-preview {
  left: calc(50% - 38px);
  top: calc(50% - 18px);
}

#portfolio .portfolio-item figure .link-details {
  right: calc(50% - 38px);
  top: calc(50% - 18px);
}

#portfolio .portfolio-item figure:hover .link-preview {
  visibility: visible;
  left: calc(50% - 44px);
}

#portfolio .portfolio-item figure:hover .link-details {
  visibility: visible;
  right: calc(50% - 44px);
}

/*============= PORTFOLIO SECTION =============*/
#about {
  margin-top: 150px;
  padding-top: 150px;
}

#about .about-cols {
  margin-top: 90px;
}


.about-cols .about-text h1 {
  
  font-weight: 200;
  color: #6A696B;
}

.about-cols .about-text p {
  
  line-height: 1.6;
  font-weight: 600;
  color: #6A696B;
  margin-top: 40px;
}

@media screen and (min-width: 992px) {
  .about-cols .about-text {
    display: table;
    height: 567px;
  }

  .about-cols .about-text .text-inner {
  display: table-cell;
  vertical-align: middle;
}

  .about-cols .about-text h1 {
    font-size: 41px;
  }

  .about-cols .about-text p {
    font-size: 17px;
    padding-right: 13px;
  }
}
@media screen and (max-width: 767px) {
  .about-cols .about-text {
    text-align: center;
    padding: 33px 45px 0;
  }
}

.about-cols .about-text .btn {
  color: #fff;
  background-image: none;
  white-space: nowrap;
  border-radius: 50px;
  transition: .2s ease-in;
  border: none;
  transition: .2s ease-in;
  border: 2px solid #233656;
  font-weight: bold;
  margin-top: 40px;
}

.about-cols .about-text .btn-default {
  padding: 10px 30px;
  background-color: #233656;
}
.about-cols .about-text .btn-default:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.20);
}

.about-cols .about-text .btn-ghost {
  color: #233656;
  background-color: transparent;
  padding: 10px 20px;
  margin-left: 10px;
}
.about-cols .about-text .btn-ghost:hover {
  background-color: #233656;
  color: #fff;
}